[
    {nkworker, [
        {password, "123"},
        {agent_start, true},
        {agent_meta, "f,g;a=1"},
        {agent_announce, [
            % "<nkworker://localhost;transport=udp>"
        ]},
        {agent_announce_time, 360000},
        {agent_listen, "<nkworker://localhost;transport=tcp>"},

        {control_start, true},
        {control_listen, 
            "<nkworker://localhost;transport=udp>,<nkworker://localhost;transport=tcp>"}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, warning},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
        ]},
        {error_logger_redirect, false},
        {crash_log, "log/crash.log"},
        {colored, true},
        {colors, [
            {debug,     "\e[0;38m" },
            {info,      "\e[0;32m" },
            {notice,    "\e[1;36m" },
            {warning,   "\e[1;33m" },
            {error,     "\e[1;31m" }
        ]}
    ]},

    {sasl, [
        {sasl_error_logger, false}
    ]}
].
